body {
    background-image: url('89781.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: 0 100%;
    transition: transform 0.3s ease;
}

a:hover::before {
    color: #66ccff; 
    transform: scaleX(1);
}


#header {
    text-align: center;
    color: ghostwhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
}

#name {
    display: flex;
    margin: 20px 50px;
    font-style: italic;
    justify-content: right;
    color: turquoise;
    font-size: 60px; /* Set the font size to large */
}

#tagline {
    display: flex;
    margin: 20px 50px; /* Keep one margin property to avoid conflict */
    color:#ffcc66;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: right;
}

ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-size: large;
}


li {
    margin: 0 20px;
    font-size: 20px;
    color:#ffffff;
}



@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}
footer {
   
    color: white;
    text-align: center;
    padding: 20px 0;
  }
 




  